.App {
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
nav {
}
.infos {
}
button {
    cursor: pointer;
}
.Gamertag,
.Archetype,
.Overall,
.Position,
.Winpercentage,
.PlayStyle {
    font-family: 'Poppins', sans-serif;
}
.Archetype,
.Overall,
.Position,
.Winpercentage,
.PlayStyle {
    font-family: 'Poppins', sans-serif;
}

.Overall {
    font-size: 14px;
    position: relative;
    bottom: 2rem;
}

html,
body,
App {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

input {
    outline: none;
    border: none;
}

.system {
    margin: 0;
    position: relative;
    left: 10px;
}

.X {
    position: absolute;
    left: 80%;
    top: 11%;
}

.none {
    display: none;
}

.offline {
}
.online {
}

.welcomes {
    position: absolute;
    top: 6rem;
}

ul {
    position: relative;
    top: 200px;
}

.Superstar {
    background-image: url('./images/superstar.png');
    height: 140px;
    width: 120px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0rem;
    margin-bottom: 2rem;
    background-size: 100px;
}

.Elite {
    background-image: url('./images/Elite.png');
    height: 140px;
    width: 120px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0rem;
    margin-bottom: 2rem;
    background-size: 100px;
}
input:active {
    background-color: black;
}

.Pro {
    background-image: url('./images/Pro.png');
    height: 140px;
    width: 120px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0rem;
    margin-bottom: 2rem;
    background-size: 100px;
}

.Allstar {
    background-image: url('./images/Allstar.png');
    height: 140px;
    width: 120px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0rem;
    margin-bottom: 2rem;
    background-size: 100px;
}

.Legend {
    background-image: url('./images/Legend.png');
    height: 140px;
    width: 120px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0rem;
    margin-bottom: 2rem;
    background-size: 100px;
}

#my {
    position: relative;
    left: 30%;
}

.getStartedCont {
    position: relative;
    top: 6rem;
    right: 8rem;
}
.getStarted {
    margin: 1rem;
    background-color: rgb(32, 32, 32);
    border: none;
    outline: none;
    color: rgb(0, 255, 136);
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    position: absolute;
    background-color: rgb(0, 255, 136);
    border: none;
    width: 12rem;
    outline: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
}

@media (min-width: 1300px) {
    .blue {
        position: relative;
        left: 0.2rem;
        top: 1rem;
    }

    .home {
        width: 8%;
        position: relative;
        left: 4rem;
        top: 5rem;
        z-index: 300;
    }

    nav {
        position: fixed;
        width: 5rem;
        height: 100rem;
        z-index: 2;
        left: -1px;
    }
}
@media (min-width: 950px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 950px) {
    .login-cont.login {
        font-size: 12px;
        position: relative;
        bottom: 4rem;
        width: 90%;
        font-weight: 400;
    }

    .mobileCont {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 1rem;
        top: 20rem;
        width: 100%;
    }
    .mobile {
        width: 400px;
        height: 300px;
    }
}

.edit {
    height: 2rem;
    margin: 0;
    position: relative;
    top: 2rem;
    padding: 10px;
}
.edit a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
}

.Animation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    background-color: rgb(0, 0, 0);
    z-index: 800;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 23rem;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 255, 136);
    border-color: rgb(0, 255, 136) transparent rgb(0, 255, 136) transparent;
    animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 179);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
a {
    color: white;
}
.EditContainer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 6rem;
}

.EditContainer form {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.EditContainer input,
select,
button {
    margin: 1rem;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    color: rgb(0, 255, 136);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.EditContainer input {
}
.EditContainer button {
    background-color: rgb(0, 255, 149);
    color: black;
    font-family: Poppins;
}

.EditContainer {
    padding: 0;
    color: white;
}
.Sucessfully.Updated {
    background-color: rgb(0, 255, 136);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.info.validation.failed {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.auth-cont {
    display: flex;
    justify-content: center;
}
.login-cont.login {
    width: 100%;
}
.authSubmit {
    background-color: #00ff6a;
    color: black;
    position: relative;
    top: 0rem;
    margin: 1.5rem;
    padding: 20px;
    border-radius: 2%;
    cursor: pointer;
}
.login p {
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    left: 2rem;
}
.login-cont.login form {
    display: flex;
    width: 48rem;
    flex-direction: column;
}
.login-cont.login input {
    margin: 20px;
}

.center {
    display: flex;
    justify-content: center;
}
.reservee {
    width: 40rem;
    height: 20rem;
    position: relative;
    top: 12rem;
}
.reservee h1 {
    position: relative;
    top: 5rem;
    color: rgb(255, 255, 255);
}
.reservee p {
    font-size: 15px;
    position: relative;
    top: 6rem;
    color: rgb(255, 255, 255);
}
.p2 {
}
.Sucessfully.updated {
    background-color: rgb(0, 255, 136);
    color: black;
    font-family: 'Poppins', sans-serif;
}
.Reserved {
    background-color: rgb(14, 14, 14);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px 10px 10px 10px;
    height: 20rem;
}

#repImage {
    position: relative;
    left: 0rem;
    margin-top: 2rem;
}

.none {
    display: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 255, 106);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(0, 255, 106);
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.NotFound {
    color: white;
    position: absolute;
    left: 45rem;
    top: 1rem;
}
.NotFound h1 {
    font-size: 15rem;
}
.NotFound p {
}

@media (min-width: 950px) {
    .EditContainer form {
        display: flex;
        flex-direction: column;
        width: 70rem;
    }
}

@media (max-width: 950px) {
}

select,
textarea,
input {
    font-size: 16px;
}

.BadgeGrindersCont {
    position: relative;
    top: 5rem;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.BadgeGrindersCont h1 {
    position: absolute;
}

.bio {
    background-color: rgb(12, 12, 12);
    color: white;
    margin: 1rem;
    border: none;
    outline: none;
    color: rgb(0, 255, 136);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    width: 17rem;
    max-width: 17rem;
    min-width: 17rem;

    height: 10rem;
    max-height: 10rem;
    min-height: 10rem;
}

.icon-tabler-brand-youtube {
    fill: red;
    stroke: rgb(20, 20, 20);
    margin: 0.5rem;
    position: relative;
    bottom: 0rem;
}
.icon-tabler-brand-instagram {
    fill: rgb(255, 196, 0);
    stroke: rgb(20, 20, 20);
    margin: 0.5rem;
    position: relative;
    bottom: 0rem;
}
.icon-tabler-brand-twitter {
    fill: rgb(0, 140, 255);
    stroke: rgb(20, 20, 20);
    margin: 0.5rem;
    position: relative;
}
.icon-tabler-brand-twitch {
    fill: rgb(132, 0, 255);
    stroke: rgb(20, 20, 20);
    margin: 0.5rem;
    position: relative;
}

.undefined {
    display: none;
}

form {
    position: relative;
    top: 10rem;
}
form input {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    height: 2rem;
    border-bottom: 2px solid rgb(85, 85, 85);
    border-radius: 0px;
    color: white;
}
.expired {
    position: absolute;
    font-size: 3rem;
    top: 5rem;
}
.Sucessfully.Updated.reset {
    padding: 60px;
    height: 2rem;
}

.error {
    background-color: red;
    padding: 20px;
}

.XBOX.SERIES {
    background-image: url('./images/xboxseries.png');
    height: 3rem;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: rgb(0, 255, 119);
    width: 100%;
}

.XBOX.ONE {
    background-image: url('./images/XBOXONE.png');
    height: 3rem;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: rgb(0, 255, 119);
    width: 100%;
}

.PS5 {
    background-image: url('./images/PS5.png');
    height: 3rem;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: rgb(0, 128, 255);
    width: 100%;
}

.PS4 {
    background-image: url('./images/PS4.png');
    height: 3rem;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: rgb(0, 128, 255);
    width: 100%;
}

@media (max-width: 1300px) {
    input {
        margin: 2rem;
    }

    nav {
        position: relative;
        right: 5rem;
        top: 2rem;
    }

    nav a {
        font-size: 12px;
        position: relative;
        color: rgb(255, 255, 255);
        z-index: 5;
    }
}

.Passwordreset {
    width: 100rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Passwordreset form {
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.none {
    display: none;
}

.blue {
    color: rgb(0, 255, 106);
    text-decoration: none;
    position: relative;
    right: 6rem;
    margin-bottom: 5rem;
}

.alert {
    background-color: red;
    padding: 20px;
}

.forgotCont {
    display: flex;
    justify-content: center;
}

.forgot form {
    display: flex;
    flex-direction: column;
}
.forgot button {
    color: black;
    font-size: 1rem;
    background-color: #00ff6a;
}

.linkSent {
    position: relative;
    top: 12rem;
}

span {
    font-weight: bold;
}

@media (min-width: 1300px) {
    .EditContainer {
        width: 90%;
        position: relative;
        left: 9rem;
    }
    .createPlayerCard {
        z-index: -2230;
    }
}

.videoCont {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 35rem;
}

.black {
    background-color: rgb(0, 0, 0);
    z-index: 33333;
    padding: 12px;
    height: 0px;
    width: 65px;
    position: absolute;
    top: 8rem;
}
.video {
    position: absolute;
    width: 15rem;
    left: 1rem;
    height: 20rem;
    display: none;
}

.container {
    position: absolute;
    left: 2rem;
    z-index: 2222;
    background-color: white;
    color: black;
}

.heroCont {
}
.hero {
    border-radius: 5%;
    width: 60%;
    height: auto;
    position: relative;
    top: 12rem;
}

@media (max-width: 1300px) {
    .welcome {
        font-size: 15px;
    }
    .getStartedCont {
        position: relative;
        right: 8rem;
    }
}

.welcomeMain {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 2rem;
    position: absolute;
}
.welcome {
    position: relative;
    top: 5rem;
}
.noPlayer {
    position: relative;
    top: 20rem;
}
.messageCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

.Messages {
    display: flex;
    width: 60%;
    position: relative;
    top: 2rem;
    justify-content: center;
}

.message {
    display: flex;
    position: relative;
    top: 5rem;
    height: auto;
}
.Messages {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    padding: 50px;
    height: 70vh;
    position: relative;
    top: 5rem;
    overflow: scroll;
}
.name {
    font-size: 12px;
    color: gray;
    position: relative;
    top: 28px;
    left: 1rem;
}
.messagebubble {
    background-color: rgb(93, 93, 93);
    border-radius: 10px;
    padding: 20px;
    word-break: break-word; /* deprecated */
    height: auto;
    max-width: 20rem;
}
.mesCont {
    display: flex;
    justify-content: flex-end;
}
.messagebubble.me {
    background-color: rgb(0, 132, 255);
    border-radius: 25%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: flex-end;
}
