.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
nav {

}
.infos{
}
button{
    cursor: pointer;

}
.Gamertag,.Archetype,.Overall,.Position,.Winpercentage,.PlayStyle{
    font-family: 'Poppins', sans-serif;
}
.Archetype,.Overall,.Position,.Winpercentage,.PlayStyle{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -5rem;
    font-size: 15px;

}



.Gamertag{
  position: relative;
  top:-6rem;
  left: 1rem;
  font-size: 15px;
}
.Win{
  position: relative;
  bottom:6rem
}
.range{
  overflow: hidden;
}


.range::-webkit-slider-thumb{
    --webkit-appearance:none;
width:15px;
height: 15px;
background-color:rgb(0, 255, 149);
cursor: pointer;
box-shadow: -407px 0 0 400px rgb(0, 255, 149);
}


  #rangeValue{
    position: relative;
    display: block;
    text-align: center;
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }



.range {
  -webkit-appearance: none;
  width: 35%;
  height: 10px;
  outline: none;
  background-color:rgb(255, 255, 255)
}



.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


.Overall{
  font-size: 14px;
  position: relative;
  bottom: 2rem;

}








html,body,App {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  background-repeat:no-repeat;
  background-size:cover;
  color: white;
}
.logo-cont {
  display:flex;
  justify-content:flex-start;
  position: relative;
  left: 320px;
  top: 20px;


}
.logo-cont img{

}

.logo{
  display:flex;
  justify-content:flex-start;
  width:30px;
  height: 30px;
  position: relative;
  top:40%;
  right: 300px;
}

.logo-cont h1{
  position: relative;
  top:12%;
  font-weight:400;
  font-family: 'Poppins', sans-serif;
  right: 290px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
  font-size:15px;
  font-family: 'Poppins', sans-serif;

}
::-webkit-input-placeholder{
  color: rgb(255, 255, 255);
}

input{
  outline: none;
  border:none
}

.search {
/* position: relative;
left: 0rem;
margin:20px;
padding:20px;
background-color: rgb(36, 36, 36);
  box-shadow: 1px 2px 10px 5px rgb(59, 59, 59);
outline:none;
color: white;
border:none;
border-radius: 20px; */

width:100px;
background-color:rgb(20, 20, 20);
border: none;
outline: none;
color: white;
}


.cont {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 38%;
  left: 10%;
   z-index: 20;  
   justify-content: center;
   width:80%

}

.Playstation {
  background-color: rgb(0, 153, 255);
  text-align: left;
  width: 4vw;
  color: rgb(255, 255, 255);
  margin: 0;
  text-align: left;
  font-size:16px;
  padding: 20px;
  border-radius: 10px 0px 10px 0px;
}
.Playstation p{
    position: relative;
     left: -8px;
}
.XBOX {
  background-color: rgb(0, 255, 119);
  text-align: left;
  width: 4vw;
  color: rgb(0, 0, 0);
  margin: 0;
  text-align: left;
  font-size:20px;
  padding: 20px;
  border-radius: 10px 0px 10px 0px;
}

.system {
  margin: 0;
  position: relative;
  left: 10px;
}

.X {
  position: absolute;
  left: 80%;
  top: 11%;
}

.none {
  display: none;
}

.infoCont p {
  position: relative;
  bottom: 10%;
}
.offline {
  background-color: rgb(255, 0, 0);
  height: 20px;
  width: 20px;
  position: relative;
  left: 85%;
  bottom: 30px;
  border-radius: 50px;
}
.online {
  background-color: rgb(9, 255, 0);
  height: 20px;
  width: 20px;
  position: relative;
  left: 85%;
  bottom: 30px;
  border-radius: 50px;
}



.navCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  right: 0rem;

}
nav a {
text-decoration: none;
color: rgb(255, 255, 255);
position: relative;
margin-top:40px;
text-align: left;
position: relative;
left: 6rem;
font-family: 'Poppins', sans-serif;
width:100px;
top: 0rem;
z-index: 5;


  
}

@media(max-width:600px){


.PS4{
  position: relative;
  width:42px;
}

.XBOX{
  position: relative;
  width:42px;
   border-radius: 3%;

}


 
 
}



ul{
    position: relative;
  top: 200px;
}
.welcome-cont{
  display:flex;
  justify-content:center;
  
}

.welcome{
  color: rgb(255, 255, 255);
  position: relative;
  top: 100px;
  font-weight:bolder;
  font-size:45px;
font-family: 'Poppins', sans-serif;
width:59rem;
margin:auto;

}





  .Superstar{
    background-image: url('./images/superstar.png');
    height: 140px;
    width: 120px;  
    background-repeat: no-repeat;
    position: relative;
    bottom:5rem;
    margin-bottom:2rem;
    background-size:120px;

  }
.repCont{
 display: flex;
 justify-content: center 
}
    .Elite{
    background-image: url('./images/Elite.png');
    height: 140px;
    width: 120px;  
    background-repeat: no-repeat;
    position: relative;
    bottom:4rem;
    margin-bottom:2rem;
    background-size:100px;
  }
  input:active{
    background-color: black;
  }

    .Pro{
    background-image: url('./images/Pro.png');
    height: 140px;
    width: 120px;  
    background-repeat: no-repeat;
    position: relative;
    bottom:4rem;
    margin-bottom:2rem;
    background-size:100px;
  }


    .Allstar{
    background-image: url('./images/Allstar.png');
    height: 140px;
    width: 120px;  
    background-repeat: no-repeat;
    position: relative;
    bottom:4rem;
    margin-bottom:2rem;
    background-size:100px;
  }

  
    .Legend{
    background-image: url('./images/Legend.png');
    height: 140px;
    width: 120px;  
    background-repeat: no-repeat;
    position: relative;
    bottom:5rem;
    margin-bottom:2rem;
    background-size:120px;
  }



   #my {
    position: relative;
    left: 30%;
    }
 
.searchCont{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  
}
.getStartedCont{
  display:flex;
  justify-content:center;
  position:absolute;
  top: 22rem;
}
    .getStarted{
      margin: 1rem;
  background-color:rgb(32, 32, 32);
  border: none;outline: none;
  color: rgb(0, 255, 136);
  padding: 12px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
      position: absolute;
      background-color: rgb(0, 255, 136);
      border: none;
      width:15rem;
      outline: none;
      color: rgb(0, 0, 0);
      text-align: center;
      font-size:25px
    }
    
@media(min-width:1300px){



  .infoCont {
  background-color:#0a0a0a;
  width: 32rem;
  margin: 20px;
  height: 41rem;
  position: relative;
  color: rgb(255, 255, 255);
  z-index: 20;  
  border-radius: 3%;
 }


.searchCont{
 
  position: fixed;
  top: 23.5rem;
  display:flex;
  left: 0.5rem;
  flex-direction: column;
  
}

.homeCont2{
  position: absolute;
  right: 6rem;
  top: 10.5rem;
  color: rgb(0, 89, 255);
  margin: 0;
  padding:0;
}
.homeCont4{
  position: absolute;
  right: 7.5rem;
  top: 18.5rem;
  color: rgb(0, 89, 255);
  margin: 0;
  padding:0
}
.homeCont3{
  position: absolute;
  right: 7.5rem;
  top: 14.5rem;
  color: rgb(0, 89, 255);
  margin: 0;
  padding:0
}

.homeCont1 p{
  position: relative;
  left: 9.5rem;
  bottom: 3rem;
  color: white;
}

.homeCont2 p{
  position: relative;
  left: 11rem;
  bottom: 3rem;
  width:100px;
  color: white;
}

.homeCont3 p{
  position: relative;
  left: 10rem;
  bottom: 3rem;
  color: white;
}

.homeCont4 p{
  position: relative;
  left: 10rem;
  bottom: 3rem;
  color: white;
}

.homeCont1{
  position: absolute;
  right: 7.5rem;
  top: 6.5rem;
  color: rgb(0, 89, 255);
  margin: 0;
  padding:0;
}
.searchCont svg{
  padding:5px;
  position: relative;
  top: 1rem;
  border-radius:28%
}
.searchimg{ 
  width:3%;
position: relative;
top:0.5rem;
left: 2rem;
  z-index: 300;
}

.home{
width:8%;
position: relative;
left: 4rem;
top: 5rem;
  z-index: 300;
} 


.search{
  width:10rem;
  height: 2rem;
  background:#000000;
  position: relative;
  top: 3rem;
  left: 3rem;
  font-size: 20px;
  z-index: 900;

}

.logo{
  position: relative;
  top: 1rem;
}
nav{
  background-color:#000000;
  position: fixed;
  width:5rem;
  height: 100rem;
  z-index: 2;
  left: -1px;
}
.searchCont{
    z-index: 2;

}
}
    @media(max-width:1300px){


      
      .infoCont{
        background-color:#0f0f0f;
        margin: 0px;
        height: 40rem;
        position: relative;
        color: rgb(255, 255, 255);
        z-index: 20;  
        border-radius: 3%;
        top: 32rem;
      }
      .Playstation{
     width:3rem;
     font-size: 14px;      }
      .getStarted{
        position: relative;
        top: 3rem;
      }
    .XBOX{
     width:3rem;
     font-size: 14px;
    }


.welcome{
  display:none;
}
nav svg{

}
.logo{
  display:none
}
nav{
  position: relative;
  right: 5rem;
  top: 4rem;
}



.searchCont svg{
  position: relative;
  right: 3rem;
  display:none
}



    nav{
        

      }
      .logo{
        position: relative;
        right: 10rem;
      }
    


  nav a{
font-size: 12px;
position: relative;
color: rgb(255, 255, 255);
z-index: 5;
  }
  .logo-cont h1{
    display:none

  }
.navCont {
  display: flex;
  justify-content: center;
  flex-direction: row;


  

}

          .search{
  background:rgb(34, 34, 34);
  color: white;
  border: none;
  outline: none;
  width:80%;
  height: 2rem;
display: flex;
justify-content: center;
  padding:15px;
  margin: 1rem;
  position: relative;
  top: 5rem;
    z-index: 400;



  }

  .homeCont1{
position: relative;
right: 1rem;
}

.homeCont2{
position: relative;
right: 5rem;
}
.homeCont3{
position: relative;
right: 3rem;
}
.homeCont4{
position: relative;
right: 1rem;
}

.homeCont1 p{
  position: relative;
  left: 6rem;

}

.homeCont2 p{
  position: relative;
  left: 6rem;
 
}

.homeCont3 p{
  position: relative;
  left: 6rem;

}

.homeCont4 p{
  position: relative;
  left: 6rem;

}

}
        @media(min-width:950px){
                     .mobile{
  display:none
}
        }
                @media(max-width:950px){

    .mobileCont{
          display: flex;
          justify-content:center;
          position: absolute;
          left: 1rem;
          top: 20rem;
          width:100%;
          }
          .mobile{
            width:400px;
            height: 300px;
          }
        }
                                  

.cont.my{
  top: 15rem;
  height: 55rem;
}


.find{
  color: rgb(0, 255, 179);
}

.Animation{
  width:100vw;
  height: 100vh;
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  background-color: rgb(0, 0, 0);
  z-index: 800;
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  top: 23rem;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 255, 136);
  border-color: rgb(0, 255, 136) transparent rgb(0, 255, 136) transparent;
  animation: lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 179);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
a{
   color:white;
}
.EditContainer{
  display:flex;
  justify-content: center;
 position: relative;
 top: 5rem;
 right:5rem;
 z-index: 1;

}
form{
    display:flex;
  justify-content: center;
  flex-wrap: wrap;
   width:50%;
   flex-direction: column;
  

}


.EditContainer input,select,button{
  margin: 1rem;
  background-color:rgb(32, 32, 32);
  border: none;outline: none;
  color: rgb(0, 255, 136);
  padding: 20px;
    font-family: 'Poppins', sans-serif;

}

.EditContainer input{
}
.EditContainer button{
  background-color:rgb(0, 255, 149);
  color: black;
  font-family: Poppins;
}
.EditContainer .range{
  padding:10px;
  color: white;

}
.EditContainer .range::-webkit-slider-thumb{
    --webkit-appearance:none;
width:15px;
height: 15px;
background-color:rgb(255, 72, 0);
cursor: pointer;
box-shadow: -407px 0 0 400px rgb(0, 255, 149);
}

.EditContainer {
  padding:0;
  color: white;
}
.Sucessfully.Updated{
  background-color:rgb(0, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.info.validation.failed{
    background-color:rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

.auth-cont{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.auth-cont form h4{ 
font-size: 20px;
position: absolute;
top:-4rem;
left: 3rem;
}
.auth-cont form{ 
  position: relative;
  display:flex;
  justify-content:center;
  color: white;
  padding:5rem
}

.auth-cont input{
  margin:1rem;
  height: 1rem;
  color: rgb(98, 207, 156);
  border-radius: 10px 10px 10px 10px;
  padding:1rem;
  background-color:rgb(0, 0, 0);
  

  
}
.cont2{
    position: relative;
    top: -8rem;
}
.login-cont,.login-cont a{
  position: relative;
  margin: 1rem;
  right: 2rem;
 
}
.login-cont.login{
    position: relative;
  margin: 1rem;
  top: 12rem;
}
.authSubmit{
  background-color:rgb(0, 255, 136);
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  

  
}
.center{
  display: flex;
  justify-content: center;
  
}
.reservee{
  width:40rem;
  height: 20rem;
  position: relative;
  top: 12rem;
}
.reservee h1{
  position: relative;
  top: 5rem;
  color: rgb(255, 255, 255);
}
.reservee p{
  font-size:15px;
  position: relative;
  top: 6rem;
  color: rgb(255, 255, 255);

}
.p2{
}
.Sucessfully.updated{
  background-color:rgb(0, 255, 0);
  color: black;
  font-family: 'Poppins', sans-serif;
}
.Reserved{
    background-color:rgb(14, 14, 14);
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
    border-radius:10px 10px 10px 10px;
    height: 20rem;

}

.heroCont{
display: flex;
justify-content: center;
position:absolute;
top:20rem;
z-index: -22
}
.hero{
  display: flex;
justify-content: center;
width:29rem
}

#repImage{
  position: relative;
  left: 1.5rem;
  margin-top:2rem
}

.none{
  display: none
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(19, 19, 19) inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 216, 144) !important;
}

.NotFound{
  color: white;
  position: absolute;
  left: 45rem;
  top: 1rem;
}
.NotFound h1{
    font-size: 15rem;

}
.NotFound p{


}

@media(min-width:950px){

  .hero{
  display: flex;
justify-content: center;
width:80rem;
position: relative;
top: 20rem;
}

}

@media(max-width:950px){
  .heroCont{
    position: absolute;
    top: 25rem;
  }

  .hero{
   width:400px;
   height: 300px;
  }
.welcome{
  font-size:1rem;


}
.signup-welcome{ 
  position: absolute;
  right: 3rem;
}
.getStartedCont{
  display:flex;
  justify-content:center;
  position:absolute;
  top: 14rem;
}
.getStarted{
  width:8rem;
  height: 2rem;
  font-size: 20px;
}


}



  .auth-cont input{ 
    position: relative;
    right: 3rem;
    background:rgb(7, 7, 7);
  }

  .authSubmit{ 
    position: relative;
    right: 3rem;
    width:18rem
  }

    select,
  textarea,
  input {
    font-size: 16px;
  }


    @media (max-width:414px){
          .auth-cont input{ 
    position: relative;
    right: 4rem;
    background:rgb(7, 7, 7);
  }

  .authSubmit{ 
    position: relative;
    right: 4rem;
    width:18rem
  }
    }
  @media (max-width:375px){
      .auth-cont input{ 
    position: relative;
    right: 5rem;
    background:rgb(7, 7, 7);
  }

  .authSubmit{ 
    position: relative;
    right: 5rem;
    width:18rem
  }

  }
        @media (max-width:320px){
         
          .auth-cont input{ 
    position: relative;
    right: 5.2rem;
    width:15rem;
    background:rgb(7, 7, 7);
    
  }

  .authSubmit{ 
    position: relative;
    right: 4rem;
    width:15rem
  }

  .auth-cont form h4{ 
font-size: 16px;
position: absolute;
top:-4rem;
left: 3rem;
}
    }

    .auth-cont.two{
      position: relative;
      top: 12rem;
    }

    .BadgeGrindersCont{
      position: relative;
      top: 5rem;
      font-size:2rem;
      width:100%;
      display:flex;
      justify-content: center;

    }
    
        .BadgeGrindersCont h1{
          position: absolute;
        }

    .infoCont img {
     border-radius: 50%;
     width:10rem;
     position: absolute;
     top: 1rem;
     left: 9rem;
     height: 10rem;
     

    }
        .infoCont a {
          color: black;
          position: relative;
          top: 2rem;
          text-decoration: none;
        }

        .infoCont.one div{
        font-size: 20px;
        position: relative;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: black;
        text-align: center;
        width:80%;
        height: 12rem;
        background-color:white;
        left: 3rem;
        top: 5rem;
        }
    .infoCont.one{
      background-color:rgb(0, 255, 119);
      display:flex;
      justify-content: center;
      height: 25rem;
      width:30rem;
      position: relative;
      top:13rem ;
      color: black;
      flex-direction: column;
    }

.bio{
background-color:rgb(20, 20, 20);
color: white;
  margin: 1rem;
  background-color:rgb(32, 32, 32);
  border: none;outline: none;
  color: rgb(0, 255, 136);
  padding: 20px;
    font-family: 'Poppins', sans-serif;



}
.bioView{
  background-color:rgb(111, 0, 255);
  border: none;outline: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 25px;
    font-family: 'Poppins', sans-serif;
}

.mediaCont{
  position: absolute;
  top: 1rem;
  left: 80%;
}
.icon-tabler-brand-youtube{
  fill: red;
  stroke: rgb(20, 20, 20);
    margin: 0.5rem;
       position: relative;
    bottom:2rem;



}
.icon-tabler-brand-instagram{
    fill: rgb(255, 196, 0);
  stroke: rgb(20, 20, 20);
    margin: 0.5rem;
       position: relative;
    bottom:2rem;

}
.icon-tabler-brand-twitter{
      fill: rgb(0, 140, 255);
  stroke: rgb(20, 20, 20);
    margin: 0.5rem;
       position: relative;
    bottom:2rem
}
.icon-tabler-brand-twitch{
        fill: rgb(132, 0, 255);
  stroke:rgb(20, 20, 20);
    margin: 0.5rem;
    position: relative;
    bottom:2rem
}
.mediaCont{
display: flex;
flex-direction: column;
position: absolute;
z-index: 700;
background-color:rgb(20, 20, 20);
}
.undefined{
  display: none;
}
.noneview{
  display:none
}